.FeaturedProperties{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.FeaturedPropertiesItems{
    flex: 1;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.Fpimg{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.FpTitle{
    color: #333;
    font-weight: bold;
}

.FpName{
    font-weight: 300;
  }
  
  .FpPrice{
    font-weight: 500;
  }

.FpButton{
    background-color: #003580;
    color: white;
    border: none;
    padding: 3px;
    margin-right: 10px;
    font-weight: bold;
}

.FpReview{
    font-size: 14px;
}