.header{
    background-color: #003580;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}

.headerContainer{
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 50px 0px;
}

.headerContainer.ListMode{
    
    margin: 20px 0px 0px 0px;
}

.headerList{
    display: flex;
    gap: 40px;
}

.headerItems{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.headerItems.active{
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px ;
}

.headerDesc{
    margin: 25px 0px 20px 0px;
}

.headerBtn{
    border: none;
    background-color: #0071c2;
    color:white;
    padding:10px ;
    font-weight: 500;
    cursor: pointer;
}

.headerSearch{
    height: 50px;
    background-color: white;
    border: 3px solid #febb02;
    display: flex;
    align-items: center;
    padding: 10px 0px;
    justify-content: space-around;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
    z-index: 2;
}

.headerIcon {
    color:lightgray;
}

.headerSearchItems{
    display: flex;
 justify-content: center;
 gap: 10px;
}

.headerInput{
    border: none;
    outline: none;
}

.headerSearchText{
    color: lightgray;
    cursor:pointer;
    user-select: none;
}

.date{
    position: absolute;
    top: 50px;
left: 27%;
user-select: none;
}

.options{
    z-index: 2;
    position: absolute;
    top: 50px;
    background-color: white;
    color: grey;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionsItems{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.optionCounter{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
}

.optionCounterButton{
    width: 30px;
    height: 30px;
    border: 1px solid #0071c2;
    color: #0071c2;
    cursor: pointer;
    background-color: white;
}

.optionCounterButton:disabled{
    cursor: not-allowed;
}